<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle d-flex">
        <i class="hamburger align-self-center"></i>
    </a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <img src="http://80.211.238.132:8729/img/avatars/avatar.png" class="avatar img-fluid rounded mr-1 mb-1 mt-1" />
                <span class="text-dark">Bot hunter</span>
                </span>
            </li>
        </ul>
    </div>
</nav>