<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/">
            <span class="align-middle">inspecTwitch</span>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Features
            </li>
            <li class="sidebar-item active">
                <a class="sidebar-link" href="/">
                    <i class="align-middle" data-feather="sliders"></i> <span
                        class="align-middle">Dashboard</span>
                </a>
            </li>
            </li>
        </ul>

        <div class="sidebar-cta">
            <div class="sidebar-cta-content">
                <strong class="d-inline-block mb-2">Quick reminder</strong>
                <div class="mb-3 text-sm">
                    Anyone can perform a bot attack on any channel
                </div>
                <a href="http://girlazo.com/blog/research-viewbots-twitch/"
                    class="btn btn-primary btn-block">Read more about...</a>
            </div>
        </div>
    </div>
</nav>